[workspace]
resolver = "2"
members = ["core", "examples/memory-catalog"]

[workspace.dependencies]
# Async runtime and utilities
async-stream = "0.3.5"
async-trait = "0.1.86"

# Local workspace members
futures = "0.3.17"
futures-async-stream = "0.2.9"
iceberg-compact-core = { path = "./core" }

# Data processing and storage
iceberg = { git = "https://github.com/risingwavelabs/iceberg-rust.git", rev = "15a4686b911d8a0847347342eda4e77f9057d29b", features = [
    "storage-s3",
    "storage-gcs",
] }
iceberg-catalog-memory = { git = "https://github.com/risingwavelabs/iceberg-rust.git", rev = "15a4686b911d8a0847347342eda4e77f9057d29b" }
iceberg-datafusion = { git = "https://github.com/risingwavelabs/iceberg-rust.git", rev = "15a4686b911d8a0847347342eda4e77f9057d29b" }
parquet = { version = "54", features = ["async"] }

# Serialization
serde = { version = "1", features = ["rc"] }
serde_json = { version = "1" }
serde_with = { version = "3", features = ["json"] }

# Error handling
thiserror = "2.0.11"
tokio = { version = "1", default-features = false }

# Utilities
tempfile = "3.8"
url = "2"
